extends ./boilerplate.jade
block leftContent
		div.col.s5
			h5 Ban Hammer!
			br
			table.hoverable
				thead
					tr
						th(data-field="username") Username
						th(data-field="banButton") Ban
						th(data-field="deleteButton") Delete
				tbody
				each user in users
					tr(name="#{user._id}")
						td #{user.username}
						td
							if !user.isBanned
								a(href="/admin/ban/#{user._id}").material-icons(name="#{user._id}") lock_open
							else 
								a(href="/admin/ban/#{user._id}").material-icons(name="#{user._id}") lock
						td
							a(href="/admin/delete/#{user._id}").material-icons(name="#{user._id}")     delete
		block rightContent
		div.col.s6
			h5.center Posts-shot:
			br
			ul.collection
				each post in posts
					div.modal(id="modal#{post._id}")
						div.modal-content
							h4 #{post.topic}
							span!= post.entry
						div.modal-footer
							a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href="#!") Close
					li.collection-item.avatar
						i.material-icons.circle.red.lighten-1 comment
						// span.title
						// 	a(href="/posts/#{post._id}" style="float:right")
						// 		i.material-icons visibility	
						// 	a.modal-trigger(href="#modal#{post._id}" style="float:right")
						// 		i.material-icons open_in_new	
						// 	a(href="/delete/#{post._id}" style="float:right")
						// 		i.material-icons delete
						b #{post.topic} 
						p!= post.entry
							.right #{post.username}
						p #{post.date} 
							span.title
								div.col.s4.center
									a(href="/posts/#{post._id}")
										i.material-icons visibility	
								div.s4.col.center
									a.modal-trigger(href="#modal#{post._id}")
										i.material-icons open_in_new	
								div.s4.col.center
									a(href="/delete/#{post._id}")
										i.material-icons delete
							br
		div.modal(id="registerModal")
			div.modal-content
				h4 Register
				form(method="POST" action="registered")
					div.input-field.col.s12
						i.material-icons.prefix perm_identity
						input#icon_prefix(name="username"  type="text" class="validate")
						label(for="icon_prefix") Username
					div.input-field.col.s12
						i.material-icons.prefix https
						input#icon_prefix(name="password"  type="password" class="validate")
						label(for="textarea1") Password
					button.btn.waves-effect.waves-light.red(type="submit" name="action") Register 
				div.modal-footer
						a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#!") Close
		div.modal(id="loginmodal")
						div.modal-content
							h4 Login
							form(method="POST" action="logged")
								div.input-field.col.s12
									i.material-icons.prefix perm_identity
									input#icon_prefix(name="username"  type="text" class="validate")
									label(for="icon_prefix") Username
								div.input-field.col.s12
									i.material-icons.prefix https
									input#icon_prefix(name="password"  type="password" class="validate")
									label(for="textarea1") Password
								button.btn.waves-effect.waves-light.red(type="submit" name="action") Login
						div.modal-footer
							a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#!") Close