extends ./boilerplate.jade
block leftContent
		div.col.s5
			h5 Ban Hammer!
			br
			form(method="POST" action="/users")
				input(name="searchbox" type="text" placeholder="Search for a user")
				button.btn.waves-effect.waves-light.blue.right(type="submit" name="action") #{language.MSG_SEARCH}
			table.hoverable
				thead
					tr
						th(data-field="username") #{language.MSG_USERNAME}
						th(data-field="banButton") #{language.MSG_BAN}
						th(data-field="deleteButton") #{language.MSG_DEL}
				tbody
				each user in users
					tr(name="#{user._id}")
						td #{user.username}
						td
							if !user.isBanned
								a.material-icons(href="/admin/ban/#{user._id}" name="#{user._id}") lock_open
							else 
								a.material-icons(href="/admin/unban/#{user._id}" name="#{user._id}") lock
						td
							a.material-icons(href="/admin/delete/#{user._id}" name="#{user._id}")     delete
		block rightContent
		div.col.s6
			h5.center #{language.MSG_POSTSSHOT}:
			br
			ul.collection
				each post in posts
					div.modal(id="modal#{post._id}")
						div.modal-content
							h4 #{post.topic}
							span!= post.entry
						div.modal-footer
							a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href="#!") #{language.MSG_CLOSE}
					li.collection-item.avatar
						i.material-icons.circle.red.lighten-1 comment
						b #{post.topic} 
						p!= post.entry
							.right #{post.username}
						p #{post.date} 
							span.title
								div.col.s4.center
									a(href="/posts/#{post._id}")
										i.material-icons visibility	
								div.s4.col.center
									a.modal-trigger(href="#modal#{post._id}")
										i.material-icons open_in_new	
								div.s4.col.center
									a(href="/delete/#{post._id}")
										i.material-icons delete
							br
		div.modal(id="registerModal")
			div.modal-content
				h4 #{language.MSG_REGISTER}
				form(method="POST" action="registered")
					div.input-field.col.s12
						i.material-icons.prefix perm_identity
						input#icon_prefix(name="username"  type="text" class="validate")
						label(for="icon_prefix") #{language.MSG_USERNAME}
					div.input-field.col.s12
						i.material-icons.prefix https
						input#icon_prefix(name="password"  type="password" class="validate")
						label(for="textarea1") #{language.MSG_PASSWORD}
					button.btn.waves-effect.waves-light.red(type="submit" name="action") Register 
				div.modal-footer
						a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#!") #{language.MSG_CLOSE}
		div.modal(id="loginmodal")
						div.modal-content
							h4 #{language.MSG_LOGIN}
							form(method="POST" action="logged")
								div.input-field.col.s12
									i.material-icons.prefix perm_identity
									input#icon_prefix(name="username"  type="text" class="validate")
									label(for="icon_prefix") #{language.MSG_USERNAME}
								div.input-field.col.s12
									i.material-icons.prefix https
									input#icon_prefix(name="password"  type="password" class="validate")
									label(for="textarea1") #{language.MSG_PASSWORD}
								button.btn.waves-effect.waves-light.red(type="submit" name="action") #{language.MSG_LOGIN}
						div.modal-footer
							a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#!") #{language.MSG_CLOSE}