extends ./boilerplate.jade
block leftContent
		div.col.s5
			h5.center #{language.MSG_SHOOTAPOST} 
				br
				br
				if !username
					i.material-icons.prefix.large visibility_off
					h5.center #{language.MSG_YOUAREPOSTINGAS} Anonymous 
				else 
					i.material-icons.prefix.large done_all
					h5.center #{language.MSG_YOUAREPOSTINGAS} #{username} 
			form(method="POST" action="/")
				div.input-field.col.s12
					i.material-icons.prefix info_outline
					input#icon_prefix(name="topic"  type="text" class="validate")
					label(for="icon_prefix") #{language.MSG_TOPIC} 
				div.input-field.col.s12
					i.material-icons.prefix label_outline
					textarea#textarea1.materialize-textarea(name="entry")
					label(for="textarea1") #{language.MSG_ENTRY} 
				button.btn.waves-effect.waves-light.blue.right(type="submit" name="action") #{language.MSG_SUBMIT} 
				br
				br
		block rightContent
		div.col.s6
			h5.center #{language.MSG_POSTSSHOT} 
			br
			ul.collection
				each post in posts
					div.modal(id="modal#{post._id}")
						div.modal-content
							h4 #{post.topic}
							span!= post.entry
						div.modal-footer
							a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href="#!") #{language.MSG_CLOSE} 
					li.collection-item.avatar
						i.material-icons.circle.red.lighten-1 comment
						b #{post.topic} 
						p!= post.entry
							.right #{post.username}
						p #{post.date} 
							span.title
								div.col.s4.center
									a(href="/posts/#{post._id}")
										i.material-icons visibility	
								div.s4.col.center
									a.modal-trigger(href="#modal#{post._id}")
										i.material-icons open_in_new	
								div.s4.col.center
									if username == post.username
										a(href="/delete/#{post._id}")
											i.material-icons delete
							br
		//error thrower
		div.modal(id="errorModal")
			div.modal-content
				h4 #{language.MSG_SHIT}
					p #{error}
				div.modal-footer
						a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#!") #{language.MSG_CLOSE}