extends ./boilerplate.jade
block leftContent
		div.col.s5
			h5.center Shoot-a-post!
				br
				br
				
				if !username
					i.material-icons.prefix.large visibility_off
					h5.center You are posting as Anonymous 
				else 
					i.material-icons.prefix.large done_all
					h5.center You are posting as #{username} 
			form(method="POST" action="/")
				div.input-field.col.s12
					i.material-icons.prefix info_outline
					input#icon_prefix(name="topic"  type="text" class="validate")
					label(for="icon_prefix") Topic
				div.input-field.col.s12
					i.material-icons.prefix label_outline
					textarea#textarea1.materialize-textarea(name="entry")
					label(for="textarea1") Entry
				button.btn.waves-effect.waves-light.blue.right(type="submit" name="action") Submit 
				br
				br
		block rightContent
		div.col.s6
			h5.center Posts-shot:
			br
			ul.collection
				each post in posts
					div.modal(id="modal#{post._id}")
						div.modal-content
							h4 #{post.topic}
							span!= post.entry
						div.modal-footer
							a.modal-action.modal-close.waves-effect.waves-red.btn-flat(href="#!") Close
					li.collection-item.avatar
						i.material-icons.circle.red.lighten-1 comment
						// span.title
						// 	a(href="/posts/#{post._id}" style="float:right")
						// 		i.material-icons visibility	
						// 	a.modal-trigger(href="#modal#{post._id}" style="float:right")
						// 		i.material-icons open_in_new	
						// 	a(href="/delete/#{post._id}" style="float:right")
						// 		i.material-icons delete
						b #{post.topic} 
						p!= post.entry
							.right #{post.username}
						p #{post.date} 
							span.title
								div.col.s4.center
									a(href="/posts/#{post._id}")
										i.material-icons visibility	
								div.s4.col.center
									a.modal-trigger(href="#modal#{post._id}")
										i.material-icons open_in_new	
								div.s4.col.center
									a(href="/delete/#{post._id}")
										i.material-icons delete
							br
		//register modal
		div.modal(id="registerModal")
			div.modal-content
				h4 Register
				form(method="POST" action="registered")
					div.input-field.col.s12
						i.material-icons.prefix perm_identity
						input#icon_prefix(name="username"  type="text" class="validate")
						label(for="icon_prefix") Username
					div.input-field.col.s12
						i.material-icons.prefix https
						input#icon_prefix(name="password"  type="password" class="validate")
						label(for="textarea1") Password
					button.btn.waves-effect.waves-light.blue(type="submit" name="action") Register 
				div.modal-footer
						a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#!") Close
		//login modal
		div.modal(id="loginmodal")
						div.modal-content
							h4 Login
							form(method="POST" action="logged")
								div.input-field.col.s12
									i.material-icons.prefix perm_identity
									input#icon_prefix(name="username"  type="text" class="validate")
									label(for="icon_prefix") Username
								div.input-field.col.s12
									i.material-icons.prefix https
									input#icon_prefix(name="password"  type="password" class="validate")
									label(for="textarea1") Password
								button.btn.waves-effect.waves-light.blue(type="submit" name="action") Login
						div.modal-footer
							a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#!") Close
		//error thrower
		div.modal(id="errorModal")
			div.modal-content
				h4 Shit happened :(
					p #{error}
				div.modal-footer
						a.modal-action.modal-close.waves-effect.waves-green.btn-flat(href="#!") Close