extends ./boilerplate_2.jade
block leftContent
	div.col.s12
		h5 #{language.MSG_POSTS}
		ul.collection
			each post in posts
				li.collection-item.avatar
					i.material-icons.circle.red comment
					span.title
						a(href="../" style="float:right")
							i.material-icons skip_previous
					h5 #{post.topic}
					br
					p!= post.entry
					br
					br
					b(style="float:right") #{post.username}, #{post.date}
include footer