<% for(var i=0; i<posts.length; i++) { %>
    <li class="collection-item avatar">
        <i class="material-icons circle red">comment</i>
        <span class="title">
            <a href="/posts/<%=posts._id %>" style="float:right" class="">
        <i class="material-icons">open_in_new</i></a>
            <a href="/delete/<%=posts._id %>" style="float:right" class="">
        <i class="material-icons">delete</i></a>
            <b>
                <%=posts.topic %>
            </b>
        </span>
        <p>
            <%=posts.entry %>
                <br>
                <%=posts.date %>
                    <br>
    </li>
    <% } %>