extends ./boilerplate.jade
block leftContent
	div.col.s12
		h5 User Profile
		p.center  
			i.material-icons.large.center perm_identity 
		h4.center #{searchedUsername}
		h6.center Number of posts: #{posts.length}
		ul.collection
			each post in posts
				li.collection-item.avatar
					i.material-icons.circle.red comment
					span.title
						a(href="../../" style="float:right")
							i.material-icons skip_previous
						a(href="../../posts/#{post._id}" style="float:right")
							i.material-icons visibility
					h5 #{post.topic}
					p!= post.entry
					b(style="float:right")  #{post.date}
					br
include footer